$color-primary: #343434;
$color-secondary: #626262;
$color-btn-hover: #484747;
$color-light: #f7f7f7;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 46em) {
    font-size: 40%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $color-secondary;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
