.header {
  @include flexCenter;
  background-color: $color-primary;
  padding: 2rem;
}

.heading-primary {
  color: $color-light;
  font-size: 4.8rem;
}

.main {
  @include flexCenter;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.img-container {
  @include flexCenter;
  height: 40rem;
  width: auto;
  margin-bottom: 2.4rem;
  padding: 0.8rem;
  border: 2px solid $color-primary;
  border-radius: 13px;
  overflow: hidden;
}

.image {
  max-width: 40rem;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 1.4rem 0;
  border-top: 1px solid $color-secondary;

  .label-upload,
  .btn-pick {
    @include flexCenter;
    padding: 1rem;
    background-color: $color-primary;
    color: $color-light;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      background-color: $color-btn-hover;
    }
  }
}

.btn-pick.locked {
  background-color: $color-light;
  color: $color-primary;
  border: 2px solid $color-primary;
  pointer-events: none;
}

#file {
  display: none;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;

  div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #hex-input,
    #rgb-input {
      position: relative;
      width: 100%;
      padding: 0.8rem;
      border: none;
      border-bottom: 2px solid $color-primary;
      font-size: 2rem;
      outline: none;
      text-align: center;

      &:first-child {
        margin-bottom: 1.6rem;
      }
    }

    .copy-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 2rem;
      width: 2rem;
      background-color: #fff;
      color: $color-primary;
      border: none;
      font-size: 2rem;
      transform: translateY(40%);
      cursor: pointer;
    }
  }
}

.color-picked {
  grid-column: 1/2;
  grid-row: 1/-1;
  // justify-self: center;
  align-self: center;
  height: 80%;
  border: 9px solid $color-secondary;
  border-radius: 13px;
}

.footer {
  @include flexCenter;
  gap: 1rem;
  height: 3.2rem;
  padding: 1.2rem;
  background-color: #000;

  p {
    color: $color-light;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: -0.75px;
  }
}

.github-logo {
  height: 2rem;
  fill: #aaa;

  &:hover {
    fill: #eee;
  }
}
